#custom-quote {
  background-color: black;
  color: white;
  font-family: "Spleen 8x16", monospace;
  font-size: 17px; /* Increased font size */
  padding: 3px 13px; /* Increased padding */
  border: 3px solid white;
  margin: 0;  /* Centers horizontally */
  margin-top: 8px;
}

#waybar {
  background: transparent; /* Makes the bar itself invisible */
  border: none;
}
