window {
    margin: 0px;
    border: 1px solid #000000;
    background-color: #ffffff;
}

#input {
    margin: 6px;
    border: none;
    color: #000000;
    background-color: #ffffff;
}

#inner-box {
    margin: 0px;
    border: none;
    background-color: #000000;
}

#outer-box {
    margin: 4px;
    border: none;
    background-color: #000000;
}
#scroll {
    margin: 5px;
    border: none;
}
#text {
    margin: 3px;
    border: none;
    color: #ffffff;
}

/* Icon styling */
#icon {
    padding-right: 5px;
    height: 16px; /* Adjust based on your preference */
    width: 16px;
    vertical-align: middle;
}

#entry.activatable #text {
    color: #ffffff;
}

#entry > * {
    color: #ffffff;
}

#entry:selected {
    background-color: #ffffff;
}

#entry:selected #text {
    font-weight: bold;
    color: #000000;
}
